{# src/JOBEET/PlatformBundle/Resources/views/Advert/add.html.twig #}

{% extends "JOBEETPlatformBundle::layout.html.twig" %}


{% block title %}
  Ajouter une annonce - {{ parent() }}
{% endblock %}

{% block jobeetplatform_body %}

  <h2>Ajouter une annonce</h2>

  {{ include("JOBEETPlatformBundle:Advert:form.html.twig") }}

  
  

{% endblock %}