{# src/JOBEET/PlatformBundle/Resources/views/Advert/add.html.twig #}

{% extends "JOBEETPlatformBundle::layout.html.twig" %}


{% block title %}
  Modifier une annonce - {{ parent() }}
{% endblock %}

{% block jobeetplatform_body %}

  <h2>Ajouter une annonce</h2>

  {{ include("JOBEETPlatformBundle:Advert:form.html.twig") }}

  <p>
    Vous éditez une annonce déjà existante, merci de ne pas changer
    l'esprit général de l'annonce déjà publiée.
  </p>

  

{% endblock %}