{# src/JOBEET/PlatformBundle/Resources/views/Advert/edit.html.twig #}

{% extends "JOBEETPlatformBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Edit Page{% endblock %}

{% block body %}
<h2>Edit une annonce</h2>

{{ include("JOBEETPlatformBundle:Advert:form.html.twig") }}

<p>
	Attention : cette annonce sera ajoutée directement
	sur la page d'accueil après validation du formulaire.
</p>
{% endblock %}