{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}




<!DOCTYPE html>
<html>
  <head>
    <title>Bienvenue dans Symfony2 !</title>
  </head>
  <body>
    <h1>Hello {{name}}</h1>
    <h2>hell§o</h2>

    
  </body>
</html>