{# src/JOBEET/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "JOBEETPlatformBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index Page{% endblock %}

{% block body %}
	<h1>HELOO Index</h1>
  Notre plateforme est un peu vide pour le moment, mais cela viendra !
{% endblock %}